@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-weight: 400;   INTER, LEXEND
font-weight: 700;   INTER
font-size: 15px;    BODY

>>>> COLORS
hsl(233, 47%, 7%);          MAIN BACKGROUND
hsl(244, 38%, 16%);         CARD BACKGROUND
hsl(277, 64%, 61%);         ACCENT
hsl(0, 0%, 100%);           MAIN HEADING, STATS
hsla(0, 0%, 100%, 0.75);    MAIN PARAGRAPH
hsla(0, 0%, 100%, 0.6);     STAT HEADINGS
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 90px 20px;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card {
    background-color: hsl(244, 38%, 16%);
    width: 77vw;
    height: 56vh;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.box-img {
    background-image: url('../images/image-header-desktop.jpg');
    width: 38vw;
    background-size: cover;
}

.filter {
    background: hsl(277, 64%, 61%);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.9;   /*0.9*/
}

.box-content {
    width: 40vw;
    padding: 60px 96px 65px 70px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    margin-right: 8px;
}

.title {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2.1rem;
    margin-bottom: 24px;
}

.title span {
    color: hsl(277, 64%, 61%);
}

.description {
    font-size: 14px;
    line-height: 1.6;
    margin-right: 42px;
}

.stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-right: 42px;
}

.stat-info .number {
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 8px;
}

.stat-info .type {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.stat-info .type,
.stat-info .upper {
    text-transform: uppercase;
}

.attribution {
    color: hsl(0, 0%, 100%); ;
    font-size: 11px;
    text-align: center;

    position: absolute;
    bottom: 5px;
}

.attribution a {
    text-decoration: none;
    color: hsl(277, 64%, 61%);;
}

@media only screen and (max-width: 500px) {

    body {
        height: max-content;
        /* padding: 0; */
    }

    .card {
        flex-direction: column;
        width: 90vw;
        height: auto;
        overflow: scroll;
    }
    
    .box-img {
        background-image: url('../images/image-header-mobile.jpg');
        width: 100%;
        height: 40vh;
    }
    
    .box-content {
        padding: 40px 20px 30px;
        width: 100%;
        height: max-content;
    }
    
    .info {
        text-align: center;
    }
    
    .title {
        font-size: 1.8rem;
    }
    
    .description {
        font-size: 1rem;
    }

    .stats {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-top: 50px;
        gap: 35px;

        /* border: 1px solid red; */
    }
    
    .stat-info {
        text-align: center;
        
        /* border: 2px solid greenyellow; */
    }
    
    /* .stats {
        justify-content: space-between;
        gap: 55px;
        font-size: 0.8rem;
        margin-top: 50px;
        display: none;
    } */

}